body {
    padding: 50px;
}

#code, #console {
    font-family: monospace;
    width: 500px;
    min-height: 150px;
    border: 1px solid black;
    display: inline-block;
    background-color: rgb(240, 240, 240);
}

#code {
    padding-left: 0;
}

.line-number {
    text-align: center;
    width: 20px;
    /* background-color: rgb(176, 175, 194); */
}

.code-string {  
    padding-left: 7px;  
    width: 100%;
    /* background-color: rgb(220, 220, 220);  */
}

.code-line {
    display: flex;    
}

.console-string {
    width: 100%;
    padding-left: 7px;
}